/* ================================= Color Panel CSS ================================= */
#theme-panel {
    position: fixed;
    width: 212px;
    height: auto;
    top: 150px;
    min-height: 200px;
    text-align: left;
    background: white;
    border: 1px solid #f1f1f1;
    z-index: 999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.close-theme-panel {
    left: -212px;
}
.open-theme-panel {
    left: -1px;
}
#theme-panel .segment {
    width: 100%;
    padding: 15px 10px 15px 0;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 25px;
}
#theme-panel a.panel-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    color: #000000;
    right: -50px;
    top: 30px;
    text-align: center;
    font-size: 23px;
    line-height: 47px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#theme-panel h3 {
    margin: 3px auto 15px;
    padding-top: 0;
    padding-bottom: 0;
}
#theme-panel .segment a.switcher {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 3px;
    margin-top: 5px;
    border: 1px solid #efefef;
    cursor: pointer;
}
.blue-bg {
    background: #3498db;
}
.asphalt-bg {
    background: #5e6f80;
}
.green-bg {
    background: #2ecc71;
}
.gray-bg {
    background: #95a5a6;
}
.orange-bg {
    background: #e67e22;
}
.purple-bg {
    background: #9b59b6;
}
.red-bg {
    background: #e74c3c;
}
.s-green-bg {
    background: #90c963;
}
.yellow-bg {
    background: #f1dd00;
}
.s-blue-bg {
    background: #1ed2ff;
}