/* ================================= Portfolio CSS ================================= */
.projectsContainer{padding:0 15px;}
.portfolio-content.view{overflow:hidden;cursor:default;}
.portfolio-content.view .mask, .portfolio-content.view .content{width:100%;height:100%;position:absolute;overflow:hidden;top:0;left:0;text-align:center;}
.portfolio-content.view img{display:block;position:relative;}
.portfolio-content.view a.info{display:inline-block;text-decoration:none;padding:7px 14px;background:#000;color:#fff;text-transform:uppercase;-webkit-box-shadow:0 0 1px #000;-moz-box-shadow:0 0 1px #000;box-shadow:0 0 1px #000;}
.portfolio-content.view a.info:hover{-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;}
.view-tenth img{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.view-tenth .mask{background-color:rgba(241,104,58,0.7);-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-o-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.view-tenth a.info{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0);-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-o-transition:all 0.5s linear;-ms-transition:all 0.5s linear;transition:all 0.5s linear;}
.portfolio-content a{cursor:url(../images/more.png) 40 40, crosshair;}
.view-tenth:hover{cursor:url(../images/more.png) 40 40, crosshair;}
.view-tenth:hover .mask{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-o-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;}
ul#filters{margin:20px 0;text-align:center;}
ul#filters li{list-style-type:none;display:inline-block;margin-bottom:24px;margin-right:15px;position:relative;}
#portfolio{max-width:100%;}
.portfolio-item{border:1px solid #F1F1F1;width:32%;margin-bottom:20px;background:#F3FAEC;}
.portfolio-item img{width:100%;height:auto;}
#filters li a{background:#f5f5f5;color:#000;padding:8px 15px;font-family:'Roboto Slab', serif;font-weight:400;font-size:18px;border-radius:4px;border:1px solid rgba(0,0,0,.1);text-transform:uppercase;transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-khtml-transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;}
.portfolio-content .mask a{width:100%;height:100%;position:absolute; text-align:center;top:0;left:0; z-index:10;}
#filters a:hover, #filters a.click{text-decoration:none;border:1px solid;color:#ffffff;}
#filters a.click:before,
#filters a:hover:before{font-family:'FontAwesome';content:"\f0d7";color:#000;position:absolute;top:22px;margin-left:37%;}
.portfolio-content .mask-inner{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;display:block;text-align:center;height:100px;}
.portfolio-content .mask .mask-inner h4{width:100%;text-align:center;color:#fff;margin:13px 0 0;}
.portfolio-content .mask .mask-inner p{width:100%;padding:5px;text-align:center;line-height:1.3;}
.portfolio-content .mask span{padding:10px 0 0;color:#fff;display:block;}
.portfolio-content{position:relative;}
.portfolio-content .mask .round-plus{background:url(../images/nav/plus.png);display:inline-block;left:0;position:absolute;top:50%;right:0;margin:auto;}
.testimonials .header-icon:after, .testimonials .header-icon:before{border-bottom:1px solid #fff;}
.view-tenth:hover .mask .icon-round-light, .view-tenth:hover .mask .icon-round-link{-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;-ms-transition-delay:0s;transition-delay:0s;-webkit-animation:bounceY 0.9s linear;-moz-animation:bounceY 0.9s linear;-ms-animation:bounceY 0.9s linear;animation:bounceY 0.9s linear;}
.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.projectsContainer .prjGrid{width:100%;}
.item_details{width:100%;overflow:hidden;height:0;position:relative;opacity:0;background:#F5F8F6;}
.item-image{width:100%;position:relative;margin-top:30px;padding:0px 0 30px;background:#F5F8F6;}
.item-image img{width:100%;height:auto;}
.close_item_info{background-position:0 0;width:20px;height:20px;position:absolute;top:10px;right:10px;}
div.close_item_info:hover{background-color:#333;}
.item_text ul{list-style-image:url(../images/li_check_green.png);padding-left:40px;margin:20px 0;line-height:22px;}
.isotope,
.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope{-webkit-transition-property:height;-moz-transition-property:height;-ms-transition-property:height;-o-transition-property:height;transition-property:height;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
/* ================================= Portfolio Responsive CSS ================================= */
@media screen and (-webkit-min-device-pixel-ratio:0){::i-block-chrome, #filters a.click:before, #filters a:hover:before{margin-left:48%;} }
@media screen and (max-width:480px){.portfolio-item{width:100%;margin-bottom:10px;}}