/* ================================= Responsive CSS ================================= */
@media(max-width: 1199px){	
	/* Team */
	.team .nbs-flexisel-nav-left {
		right: 49%;
	}
	.team .nbs-flexisel-nav-right {
		right: 45%;
	}	
	/* Testimonials */
	.testimonials .classic-info:before {
		left: -52px;
		top: 0px;
		font-size: 55px;
	}
	.testimonials .classic-info:after {
		left: 390px;
		top: 0px;
		font-size:55px;
	}
	.testimonials .classic-author{
		margin:-35px 0px 0px;
	}
}
@media(min-width: 1024px) {
	/* Client */
	.nbs-flexisel-nav-left:before{
		width: 85%;
	}
	.nbs-flexisel-nav-right:after{
		width: 85%;
	}
}
@media(max-width: 991px) {
	/* Social Icon */
	.header-right{
		display:none;
	}	
	/* Testimonials */
	.testimonials .grid .classic-grid-img {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.testimonials .classic-info:before {
		left: auto;
		top: 0px;
		font-size:40px;
	}
	.testimonials .classic-info:after {
		left: 385px;
		top: 0px;
		font-size:40px;
	}
	.testimonials .classic-author {
		margin: 0px;
		font-size:25px;
		text-align: center;
	}
	.testimonials .classic-info p{
		margin:-27px 40px;
		font-size:25px;
	}
	.testimonials .carousel-indicators {
		bottom: -30px;
		left: 350px;
	}
}

@media(max-width: 980px) {
	/* Client */
	.nbs-flexisel-nav-left:before{
		width: 85%;
	}	
	.nbs-flexisel-nav-right:after{
		width: 85%;
	}	
	/* Portfolio */		
	.portfolio-content .mask-inner {
		height:115px;
	}
}

@media(max-width: 767px) {
	/*Navigation*/
	#navigation ul.nav li{
		display:inline-block;
		height:auto;
		width:100%;
	}
	#navigation ul.nav li a{
		display:block;
		height: auto;
		margin:0;
		width:100%;
	}
	#navigation{
		height:auto;
	}
	#navigation .nav-menu{
		display:none;
	}
	.navigation {
    	padding: 15px 0;
	}	
	.navbar-header .social-icon{
		display:block;
	}
	.navbar-collapse {
		padding-left: 15px;
		padding-right: 15px;
	}	
	/* Portfolio */
	.header-icon:before{
		top:9px;
	}
}
@media(max-width: 768px) {	
	/* Portfolio */
	.header-icon:before{
		top:16px;
	}	
	/* What We Do */
	.what-we-do .box-outer {
		margin: 36px 0px 5px;
	}
	.what-we-do .box{
		margin:0 auto;
		display:block;
		text-align:center;
	}	
	/* Recent Blog */
	.thumbnail > img, .thumbnail a > img {
		width: 100%;
	}
	.blog-inner-box {
		margin: 38px 0px;
	}
	/* Testimonials */
	.testimonials .classic-info p {
		width:auto;
		font-size: 20px;
		margin: -27px 120px;
	}
	.testimonials .classic-info:before {
		font-size: 30px;
		left: 93px;
		top: 0;
	}
	.testimonials .classic-info:after {
		font-size: 30px;
		left: 215px;
		top: 0;
	}
	.testimonials .classic-author {
		margin: 0px;
		font-size:20px;
		text-align: center;
	}
	.hometexts {
		margin: 0 auto;
		width: 90%;
	}	
}
@media(max-width: 640px) {
	/* Custom */
	.title-description{
		padding:10px 50px;
		text-align:center;
	}
	/* Slider */
	#slides{
		height:640px !important;
	}	
	/* Portfolio */
	.header-icon:before{
		top:10px;
	}
	.work-img{
		float:none;
		margin:0 auto;
		text-align:center;
	}
	.mask h4{
		font-size:16px;
		font-weight: bold;
	}	
	/* Client */
	.client img{
		width:190px;
	}	
	/* Parallax 2 */
	.parallax2 .btn {
		margin: 5px 8px;
	}	
	/* Testimonials */
	.testimonials .classic-info:after {
		font-size: 30px;
		left: 300px;
		top: 0;
	}
	.testimonials .carousel-indicators {
		bottom: -35px;
		left: 290px;
	}
}
@media(max-width: 600px) {	
	/* Testimonials */
	.testimonials .classic-info:after {
		font-size: 30px;
		left: 395px;
		top: 0;
	}
}
@media(max-width: 480px) {	
	/* Portfolio */
	.header-icon:before {
		display:none;
	}
	.mask h4{
		font-size: 23px;
		font-weight: 400;
	}
	.mask .mask-inner p {
		font-size: 16px;
	}
	/* Slider*/
	.slides-container div,
	.home{
		background-size:auto 700px;
	}
	.hometext{
		font-size:25px;
		line-height: 80px;
	}
	.fixed-text{
		font-size: 20px;
	}	
	/* Client */
	.client img{
		width:216px;
	}	
	.nbs-flexisel-item{
		left:-2px;
	}	
	/* Testimonials */
	.testimonials .grid .classic-grid-img{
		width:auto;
	}
	.testimonials .classic-info p {
		font-size: 18px;
		margin: -27px 55px;
		width: auto;
	}
	.testimonials .classic-info:before {
		font-size: 30px;
		left: 35px;
		top: 0;
	}
	.testimonials .classic-info:after {
		font-size: 30px;
		left: 230px;
		top: 0;
	}
	.testimonials .carousel-indicators {
		bottom: -35px;
		left: 210px;
	}
	.testimonials .classic-author {
		font-size: 18px;
	}	
	/* Contact */
	.contact-us .form-section{
		padding-top:10px;
		padding-bottom:40px;
	}
	.contact-us .address-info{
		padding:30px;
	}	
}
@media(max-width: 360px) {
	/*slider*/
	.hometext{
		font-size:25px;
		line-height: 80px;
	}
	.fixed-text{
		font-size: 17px;
	}	
	/* Client */
	.client h1, .contact-us h1{
		font-size:54px;
	}	
	/*Team*/
	.team .nbs-flexisel-nav-right {
		right: 35%;    
	}	
	/* Contact */
	.contact-us{
		position: relative;
		right: 0;
		left:0;
		top: 0;
		margin-top:-48%;
		background: rgba(0, 0, 0, 0.7);
		color:#FFFFFF;
	}	
	/* Testimonials */
	.testimonials .grid .classic-grid-img img{
		width:auto;
		margin:0px;
	}
	.testimonials .classic-info:before {
		font-size: 25px;
		left: 0;
		top: 0;
	}
	.testimonials .classic-info:after {
		font-size: 25px;
		left: 165px;
		top: 0;
	}
	.testimonials .carousel-indicators {
		bottom: -35px;
		left: 150px;
	}
	.testimonials .classic-info p {
		font-size: 15px;
		margin: -27px 20px;
		width: auto;
	}
	.testimonials .classic-author{
		font-size:15px;
	}	
}
@media(max-width: 320px) {
	/* Slider */
	.hometext{
		font-size:25px;
		line-height: 50px;
	}	
	/* Client */
	.client h1{
		font-size:47px;
	}		
	/* Portfolio */
	.portfolio-content .mask p{
		top:31%
	}
	.portfolio-content .mask h4{
		top:33%;
	}	
	/* Team */
	.team .nbs-flexisel-nav-right {
		right: 35%;    
	}	
	/* Testimonials */
	.testimonials .classic-info:after {
		font-size: 25px;
		left: 230px;
		top: 0;
	}
	.testimonials .carousel-indicators {
		bottom: -35px;
		left: 133px;
	}	
	/* Contact */
	.contact-us{
		position: relative;
		right: 0;
		left:0;
		top:-100px;
		margin-top:-200%;
		background: rgba(0, 0, 0, 0.7);
		color:#FFFFFF;
	}
	.contact-group{
		margin-bottom:-100px;
	}
}
@media only screen and (min-width:640px) and (max-width:800px){
	/* Portfolio */
	.icon-round-light{
		top:-11px;
	}
	.mask h4{
		margin-top:2px;
	}	
}
@media only screen and (min-width:480px) and (max-width:639px){
	/* Contact */
	.map-top{
		height:1675px;
	}
}
@media only screen and (min-width:640px) and (max-width:760px){
	/* Contact */
	.map-top{
		height:1620px;
	}
}
@media only screen and (min-width:768px) and (max-width:800px){
	/* Contact */
	.map-top{
		height:1092px;
	}
}