/* ================================= CSS Structure =================================
1. GLOBAL STYLES    
  - Button Styles
  - Misc Styles
        
2. CUSTOM ELEMENTS
  - Page Loader Styles
  - Canvas Elements
    
3. LAYOUT
  - Header
    - Navigation
    - Social Links  
  - Page Section
    - Home Section
    - Home Section Sliding Text  
    - Home Section Background Slider
      - Background Slider Images
    - Home Section Slider Version
      - Super Slides Navigation
    - About Us Section
    - CEO Section
    - Video Background Section
    - Our Customers Section
    - Our Work Section
    - What We Do Section
    - Parallax Background Section
    - Team Section
      - Circle Slider
      - Circle Slider Text
      - Circle Slider Text Version 2
    - Testimonials Section
    - Recent Blog Section
    - Contact Us Section
    - Copyright Section
=========================================================================== */
/* =========================== GLOBAL STYLES ============================== */
body{
  font-family: 'Roboto Slab', serif;
  background-color:#f5f5f5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size:13px;
  line-height:1.7;
}
h1,h2,h3,h4,h5,h6{
  margin:0 auto;
  font-size:60px;
  font-weight: 300;
  text-align:center;
  text-transform: uppercase;
}
h3{
  font-size:30px;
  font-weight:300;
  margin:0;
}
h4{
  margin:20px 0px 15px 0;
  font-size:24px;
  font-weight:400;
  text-align:center;
}
.row{
  margin:0;
}
a:hover, a:focus, .btn:hover, .btn:focus{
  outline:none;
  text-decoration:none;
}
ol, ul{
  list-style:none;
  padding:0;
}
a{
  color:#fff;
}
p{
  font-size:15px;
  font-weight:300px;
  text-align:center;
  color:6b6b6b;
}
.para{
  font-size:13px;
  font-weight:300;
  min-height: 65px;
}  
img{
  max-width:100%;
}
/* ------------- Button Styles ------------- */
.btn{
  padding:10px 15px;
  margin:0px auto;
  display:block;
}
.btn:hover,
.btn:focus{
  color:#ffffff;
  border:none;
}
.btn-border{
    border: 1px solid #333333;
    border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background:#FFF;
  color:#000;
  font-size:12px;
  text-transform:uppercase;
  text-align:center;
}
.btn-border:hover{
  border:1px solid;
}
/* ------------- Misc Styles ------------- */
.content-section{
    padding-top: 7.8em;
    padding-bottom: 3em;
}
.black{
  color:#333333;
}
.white{
  color:#FFFFFF;
}
.black-bg{
  background:#333333;
  color:#FFFFFF;
}
.white-bg{
  background:#FFFFFF;
}
.center{
  margin:0 auto;
  display:block;
  text-align:center;
}
hr{
  width:160px;
  height: 3px;
}
.animated{
  visibility:hidden;
}
.visible{
  visibility:visible;
}
/* =========================== CUSTOM ELEMENTS ============================== */
/* ------------- Page Loader Styles ------------- */
#pageloader{
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
} 
.loader-item{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 3px solid rgba(0, 0, 0, 0) !important;
    border-left: 3px solid;
    border-radius: 200px;
    border-right: 3px solid;
    border-top: 3px solid;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}
.loader-item h2{
    color: #CCCCCC;
    font-size: 20px;
    margin: 0 auto;
}
.colored-border{
    border-color: #f06739;
}
/* ------------- Canvas Elements ------------- */
canvas {
  padding: 0;
  margin: 0;
}
.canvas-color, .canvas-image {
    text-align: center;
}
/* =========================== LAYOUT ============================== */
/* ------------- Header ------------- */
#navigation{  
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
  z-index: 1031;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar{
  margin-bottom:0px;
}
.not-visible-nav{
  top:-200px;
  position: static;
}
.visible-nav{
  top:0;
  position: fixed;
}
.white-nav{
  background:rgba(255, 255, 255, 0.97);
}
.navbar-header .social-icon{
  display:none;
  width:200px;
  float:left;
  padding:15px;
  text-align:left;
}
/* ------------- Navigation ------------- */
.nav-menu{
  float: left;
  height: 100%;
}
.nav-menu ul.nav{
  height: 100%;
}
.nav li, .nav li:hover{
  display: inline-block;
  height: 100%;
  padding:0px 10px;
}
.navbar-collapse{
  padding-left:0px;
  padding-right:0px;
}
.nav  > li > a{
  display: block;
  height: 100%;
  border-bottom:2px solid transparent;
  background:none;
  color: #555555;
  font-size:15px;
  font-weight:normal;
  text-transform:uppercase;
  padding:8px 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.nav > li a:hover, .nav > li a:focus{
  background:none;
}
#topnav .nav li:hover a, 
#topnav .nav li.active a{
  border-bottom:3px solid;
}
.navigation{
  padding-top:32px;
}
/* ------------- Social Links ------------- */
.header-right .social-icon{
  display:block;
  line-height:105px;
  text-align:right;
}
.social-icon .fa{
  font-size:23px;
}
.social-icon a{
  margin-right:10px;
  color: #000;
}
.social-icon a:hover{
  color:#2d93e6;
}
.twit:hover{
  color:#2c93e7;
}
.fb:hover{
  color:#3a589b;
}
.lin:hover{
  color:#007ab9;
}
.pin:hover{
  color:#b6272b;
}
.gp:hover{
  color:#c83d26;
}
.rss:hover{
  color:#f9913c;
}
/* =========================== Page Section ============================== */
/* ------------- Home Section ------------- */
#home{
  position: relative;
  width: 100%;
  height: auto;
  top:0;
}
.home{
  background:url(../images/slider/1.jpg) center center fixed;
  position: relative;
}
.home:after{
  clear: both;
}
/* ------------- Home Section Sliding Text ------------- */
.slide-text{
  margin:3px auto 0;
}
.slide-text li:last-child{
  clear: both;
}
.hometext{
  width:100%;
  height: auto;
  color:white;
  font-size:60px;
  text-transform:uppercase;
  font-weight:bold;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
.fixed-text{
  font-size: 30px;
  color:#FFFFFF;
  line-height:1.2;
  margin:0;
  text-align:center;
  padding-left:22%;
  padding-right:22%;
}
.home-arrow{
  display: block;
  color:#b8b7b7;
  width:60px;  
  margin:4% auto 0 auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.home-arrow i{
  color:#b8b7b7;
  font-size:60px;
  display:block;
}
.top-arrow{
  opacity:0.6;
}
.home-arrow .bottom-arrow{
  color:#fff;
  margin-top:-40px;
}
.bottom-arrow{
  opacity:0;
  transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.home-arrow:hover .bottom-arrow{
  opacity:1;
  transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
/* ------------- Home Section Background Slider ------------- */
#slides .logo{
  padding-top:50px;
  cursor: pointer;
}
#slides{
  position:relative;
}
#slides hr{
  background-color:#fff;
  height:2px;
  margin-top:50px;
  margin-bottom:10px;
}
.home-details-tb{
  position:absolute;
  width:100%;
  margin:0 auto;
  height: auto;
  top:50%;
  text-align:center;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-details-tb .home-details-inner{
  max-width: 90%;
  margin:0 auto;
}
/* ------------- Background Slider Images ------------- */
#slides .slides-container div{
  background-position:top center;
  background-attachment: fixed;
}
#slides .slides-container .image1{
  background-image:url(../images/slider/1.jpg);
}
#slides .slides-container .image2{
  background-image:url(../images/slider/2.jpg);
}
#slides .slides-container .image3{
  background-image:url(../images/slider/3.jpg);
}
/* ------------- Home Section Slider Version ------------- */
/* ------------- Super Slides Navigation ------------- */
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 45%;
  width: 100%;
  z-index: 20;
}
.slides-navigation a{
  position: absolute;
  display: block;
  width:55px;
  height:55px;
  background:url(../images/nav/left-right.png);
  opacity:1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  border-radius:50%;
  -moz-border-radius:50%;
}
.slides-navigation a.prev {
  left: 2%;
  background-position:left;
}
.slides-navigation a.next {
  right: 2%;
  background-position:right;
}
#home:hover .slides-navigation a{
  opacity:0.3;
}
.slides-navigation a:hover{
  opacity:1 !important;
}
.title-description{
  padding:10px 92px;
  font-size:15px;
}
/* ------------- About Us Section ------------- */
.about{
   background:#f5f5f5;
}
.about .content-section{
   padding-bottom:8.5em;
}
.about-box{ 
  padding-left:20px;
  padding-right:20px;
  padding-top:100px;
  padding-bottom:20px;
  position:relative;
}
.about .col-md-4:before{
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  height: 141px;
  right:1px;
  top:50%;
  position: absolute;
  width: 1px;
}
.about .col-md-4:last-child:before{
   background-color: rgba(0, 0, 0, 0);
}
.about-box .para{
  margin-bottom:25px;
  min-height: 65px;
}
.about-box .btn{
  width:120px;
}
.about-box:hover .shape:after,
.about-box:hover .btn{
  border:none;
  color:#ffffff;
}
/* ------------- CEO Section ------------- */
.thought{
  background:#fff;
  padding-top:30px;
  padding-bottom:30px;
}
.social-icons{
  float:right;
  position:relative;  
}
.social-shape {
    float: left;
  cursor: pointer;
}
.people-say h4{
  margin-left:15px;
}
.people-say .para{
  padding-top:7px;
  margin-left:15px;
}
/* ------------- Video Background Section ------------- */
.port-gallery{
  margin-top:50px;
  margin-bottom:50px;
}
.video{
  background:url(../images/parallax/1.jpg);
  background-attachment:fixed;
  min-height: 500px;
}
.video-icon img{
  border-radius: 7px;
}
.video-icon{
  text-align:center;
  line-height:275px;
}
.video p{
  padding-top:16px;
}
.video h3{
  margin-top:-34px;
}
/* ------------- Our Customers Section ------------- */
.client{
  background:#f1683a;
}
.client .content-section {
  padding-bottom:13em;
  overflow: hidden;
}
.client hr{
  background:#FFF;
  height:2px;
}
.clearout {
    height: 20px;
    clear: both;
}
#flexiselDemo {
    display: none;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
    padding-top: 30px;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    float: left;
    width: 100%;
}
.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.nbs-flexisel-nav-left {
    background: url("../images/nav/previous.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    left: 0;
    top: 199px;
}
.nbs-flexisel-nav-right {
    background: url("../images/nav/next.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    right: 0;
    top: 199px;
}
.client img {
    background: none;
    position: relative;
    margin-top: 10px;
    border: none;
    margin-bottom: 10px;
    width: 300px;
    height: 70px;
    cursor: pointer;
}
.nbs-flexisel-item {
  border-right:1px solid #f5f5f5;
  left:-1px;
  margin-bottom:-10px;
  margin-top:-5px;
}
.nbs-flexisel-nav-container {   
    float: left;   
    width: 100%;
    z-index: 9999;
}
.nbs-flexisel-nav-right:after {
    border-bottom: 1px solid rgba(255,255,255,.5);
    content: "";
    display: inline-block;
    left: 75px;
    position: absolute;
    top: 21px;
}
.nbs-flexisel-nav-left:before {
    border-bottom: 1px solid rgba(255,255,255,.5);
    content: "";
    display: inline-block;
    right: 75px;
    position: absolute;
    top: 21px;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    cursor: pointer;
    height: 40px;
    opacity: 1;
    position: absolute;
    width: 49%;
    z-index: 3;
}
/* ------------- Our Work Section ------------- */
.header-icon:before {
    border-bottom: 1px solid rgba(0,0,0,.1);
    content: "";
    display: inline-block;
    left: 28px;
    position: absolute;
    top: 35px;
    width: 94%;
}
.arrow-color{
  color: #F1683A;
  height: 30px;
  left: 15px;
  position: absolute;
  top: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  width: 30px;
  z-index: 1;
}
.mask h4, .mask p{
  color:#fff;
}
.mask p{
  padding-left:10px;
  padding-left:10px;
}
/* ------------- What We Do Section ------------- */
.what-we-do .top-bottom-section {
    padding: 7.6em 0;
}
.service-items{
  padding-bottom:50px;
}
.what-we-do h4{
  margin: 23px 0 10px;
  font-size:24px;
  font-weight:400;
  text-align:center;
  text-transform:uppercase;
}
.what-we-do .box:hover h4{
  color:#FFFFFF;
}
.what-we-do .btn{
  width:150px;
}
.what-we-do .box{
  max-width:370px;
  padding:22px 0px;
  background-color:#FFF;
}
.what-we-do .box p{
  margin:0 auto;
  padding:0px 30px;
  color:#8f8f8f;
  font-size:14px;
  text-align:center;
}
.what-we-do .box-outer{
  margin:36px 0 5px;
}
.what-we-do .box i{
  padding:10px;
}
.what-we-do .box:hover, .what-we-do .box:hover p  {
  background-color:#f06739;
  color:#FFFFFF;
}
.what-we-do .box:hover .fa{
  background:#FFF;
}
.what-we-do .fa{
  display:block;
  width:70px;
  height:70px;
  margin:0 auto;
  padding:10px;
  line-height:45px;
  border:2px solid;
  border-radius:50%;
  color:#f06739;
  font-size:30px;
  text-align:center;
}
.what-we-do .viewall {
  display:block;
  width:150px;
  margin:60px auto;
  padding: 9px;
    border: 1px solid #333333;
    border-radius: 10px;
  background:#FFF;
  color:#000;
  font-size:12px;
  text-transform:uppercase;
  text-align:center;
}
.what-we-do .viewall:hover{
  color:#FFFFFF;
  border-color:#FFFFFF;
}
/* ------------- Parallax Background Section ------------- */
.parallax2{
  background:url(../images/parallax/parallax2.jpg);
  background-attachment:fixed;
}
.parallax2 .top-bottom-section{
  padding-top:3em;
  padding-bottom:5em;
}
.parallax2 h3{
  margin:25px 0px;
  color:#FFFFFF;
  font-family: 'Roboto Slab', serif;
  font-weight:300;
  font-size:30px; 
  text-align:center;
  text-transform:none; 
}
.parallax2 .btn1{
  display:inline-block;
  margin:10px 10px 0;
  padding:9px 14px;
  border-radius:5px;
  color:#FFFFFF;
  font-size:14px;
  border:none;
}
.parallax2 .btn2{
  display:inline-block;
  margin:10px 10px 0;
  padding:9px 14px;
  font-size:14px;
  background-color:#000000;
  color:#FFFFFF;
  border:none;
}
.parallax2 a{
  color:#FFFFFF;
}
.parallax3 {
  background:#000000;
  color:#FFFFFF;
}
.parallax3 .top-bottom-section{
  padding:1.7em 0 1.7em;
}
.parallax3 h3{  
  margin:10px 0px;
  font-size:30px;
  font-weight: 300;
  text-align:center;
    text-transform:uppercase;
}
.parallax3 .btn{
  display:inline;
  width:200px;
  height:70px;
  margin:10px 20px;
  border-radius:3px;
  color:#FFFFFF;
  font-size:18px;
}
.parallax3 .btn a{
  color:#FFFFFF;
}
/* ------------- Team Section ------------- */
.team{
  background-color:#ffffff;
}
div.main_content_slider_wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
}
/* ------------- Circle Slider ------------- */
.content_slider_wrapper  * {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.content_slider_wrapper {
  font-family: 'Roboto Slab', serif;
  font-size:14px; 
  line-height:20px;
  text-align:left; 
  color:#484848;
  margin:0; 
  padding:0; 
  border:none;
  clear: both;
  display: block;
  position: relative;
}
.content_slider_wrapper h4 {
  font-size:20px;
  font-family: 'Roboto Slab', serif;
  color:#2a2a2a;
  margin:0;
  padding:0;
  font-weight:100;
  border:none;
}
.content_slider_wrapper_vertical {
  font-family: 'Roboto Slab', serif;
  font-size:14px; 
  line-height:20px;
  text-align:left; 
  color:#484848;
  margin:0; 
  padding:0; 
  border:none;
  clear: both;
  display: block;
}  
.content_slider_wrapper_vertical h4 {
  font-size:20px;
  font-family: 'Roboto Slab', serif;
  color:#2a2a2a;
  margin:0;
  padding:0;
  font-weight:100;
  border:none;
}
.content_slider_wrapper .circle_slider {
  position:relative;
  width:970px;
  height:260px;
  margin:0;
  padding:0;
  border:none;
  overflow: hidden;
  z-index:99; /*new attribute*/
  top:125px;/*new attribute*/
}
.content_slider_wrapper_vertical .circle_slider {
  position:relative;
  width:279px;
  height:970px;
  margin:0;
  padding:0;
  border:none;
  overflow: hidden;
  float: left;
}
.circle_slider_thumb {
  overflow:hidden;
  border:#282828 solid 5px;
  position:absolute;
  top:97px;
  width:84px;
  height:84px;
  float:left;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
  margin:0;
  padding:0;
  cursor: pointer;
}
.circle_slider_thumb img {
  max-width: 100% !important;
  width:84px;
  margin:0 !important;
  padding:0 !important;
  border:none;
}
.circle_slider_big {
  overflow:hidden;
  border:#282828 solid 8px;
  border-radius:231px;
  position:absolute;
  top:24px;
  width:231px;
  height:231px;
  float:left;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
  margin:0;
  padding:0;
}
.circle_slider_big img {
  width:231px;
  margin:0;
  padding:0;
  border:none;
}
.content_slider_wrapper .circle_slider_nav_left {
  position:absolute;
  top:334px;
  left:46% !important;
  height:60px;
  width:50px;
  display:block;
  margin:0;
  padding:0;
  border:none;
  overflow: hidden;
  cursor: pointer;
}
.content_slider_wrapper .circle_slider_no_border2_left {
  width: 24px;
}
.content_slider_wrapper .circle_slider_nav_left img {
  padding:19px 30px 19px 3px;
  border-radius:50px 0px 0px 50px;
  left: 0px;
  position: absolute;
  display: inline-block;
  background:black;
  box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_right {
  position:absolute;
  top:597px;
  left:50% !important;
  height:60px;
  width:50px;
  display:block;
  margin:0;
  padding:0;
  border:none;
  overflow: hidden;
  cursor: pointer;
}
.content_slider_wrapper .circle_slider_nav_right img {
  padding:19px 3px 19px 30px;
  margin-left:-26px;
  border-radius:0px 50px 50px 0px;
  left: 0px;
  position: absolute;
  display: inline-block;
  background:black;
  box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_left.circle_slider_no_border img {
  padding:0;
  margin-left:0px;
  border-radius:0;
  background:transparent !important;
  box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_right.circle_slider_no_border img {
  padding:0;
  margin-left:0;
  left: 4px;
  border-radius:0;
  background:transparent !important;
  box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_left {
  position:absolute;
  top:335px;
  left:92px;
  width:57px;
  height:28px;
  display:block;
  margin:0;
  padding:0;
  border:none;
  overflow: hidden;
  cursor: pointer;
}
.content_slider_wrapper_vertical .circle_slider_no_border2_left {
  height: 24px;
}
.content_slider_wrapper_vertical .circle_slider_nav_left img {
  left: 0px;
  position: absolute;
  display: inline-block;
  box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_right {
  position:absolute;
  top:598px;
  left:92px;
  width:57px;
  height:28px;
  display:block;
  margin:0;
  padding:0;
  border:none;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_right img {
  left: 0px;
  position: absolute;
  display: inline-block;
  box-shadow: none !important;
}
.content_slider_wrapper .cst1 {left:0px; top:73px;}
.content_slider_wrapper .cst2 {left:109px; top:73px;}
.content_slider_wrapper .cst3 {left:218px; top:73px;}
.content_slider_wrapper .csc {left:357px; top:0px;}
.content_slider_wrapper .cst4 {left:649px; top:73px;}
.content_slider_wrapper .cst5 {left:758px; top:73px;}
.content_slider_wrapper .cst6 {left:867px; top:73px;}
.content_slider_wrapper_vertical .cst1 {left:73px; top:0px;}
.content_slider_wrapper_vertical .cst2 {left:73px; top:109px;}
.content_slider_wrapper_vertical .cst3 {left:73px; top:218px;}
.content_slider_wrapper_vertical .csc {left:0px; top:357px;}
.content_slider_wrapper_vertical .cst4 {left:73px; top:649px;}
.content_slider_wrapper_vertical .cst5 {left:73px; top:758px;}
.content_slider_wrapper_vertical .cst6 {left:73px; top:867px;}

/* ------------- Circle Slider Text ------------- */
.content_slider_wrapper .circle_slider_text_wrapper {
  width:100%;
  left:0px;
  top:10px;
  position:absolute;
  display:inline-block;  
}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text {
  width:460px;
  padding:0 20px 20px 0px;
  border-right:1px solid #7e7e7e;
  float:left;
  margin:0;
  border-left:none;
  border-bottom:none;
  border-top:none;
}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right {
  border-left:1px solid #7e7e7e;
  border-right:none;
  width:459px;
  padding:0 0px 20px 20px;
  margin:0 0 0 -1px;
  border-bottom:none;
  border-top:none;
}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text span {
  text-align:right;
  display:inline-block;
  width:100%;
  margin:0;
  padding:0;
  border:none;
}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text h4 {float:right;}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right span {text-align:left;}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right h4 {float:left;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper {
  left: 0px;
  position: relative;
  float: left;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text {
  width:200px;
  padding:0 20px 20px 0px;
  border-right:1px solid #7e7e7e;
  float:left;
  margin:0;
  border-left:none;
  border-bottom:none;
  border-top:none;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right {
  border-left:1px solid #7e7e7e;
  border-right:none;
  width:200px;
  padding:0 0px 20px 20px;
  margin:0 0 0 -1px;
  border-bottom:none;
  border-top:none;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text span {
  text-align:right;
  display:inline-block;
  width:100%;
  margin:0;
  padding:0;
  border:none;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text h4 {float:right;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right span {text-align:left;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right h4 {float:left;}
/* ------------- Circle Slider Text Version 2 ------------- */
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 {
  left: 30px;
  position: relative;
  float: left;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text  {
  padding:0px 0px 20px 0px;
  margin:0;
  border-bottom:1px solid #7e7e7e;
  border-left:none;
  border-right:none;
  border-top:none;
  display: block;
  clear: both;
}
.content_slider_wrapper_vertical  .circle_slider_text_wrapper_v2 .circle_slider_text.right  {
  padding:20px 0px 0px 0px;
  margin:-1px 0 0 0px;
  border-top:1px solid #7e7e7e;
  border-right:none;
  border-bottom:none;
  border-left:none;
  display: block;
}
.content_slider_wrapper_vertical  .circle_slider_text_wrapper_v2 .circle_slider_text span {
  text-align:center;
  display:inline-block;
  width:100%;
  margin:0;
  padding:0;
  border:none;
}  
 .content_slider_wrapper_vertical .circle_slider_nav_left img {
  padding:1px 19px 30px 19px;
  border-radius:50px 50px 0px 0px;
  left: 0px;
  position: absolute;
  display: inline-block;
  background:black;
  box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_right img {
  padding:30px 19px 1px 19px;
  margin-top:-26px;
  border-radius:0px 0px 50px 50px;
  left: 0px;
  position: absolute;
  display: inline-block;
  background:black;
  box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_left.circle_slider_no_border img {
  padding:0;
  margin-left:0;
  border-radius:0;
  background:transparent !important;
  box-shadow: none !important;
} 
.content_slider_wrapper_vertical .circle_slider_nav_right.circle_slider_no_border img {
  left: 0;
  top: 34px;
  padding:0;
  margin-left:0;
  border-radius:0;
  background:transparent !important;
  box-shadow: none !important;
} 
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text  h4 {text-align:center !important; float: none !important;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text.right  span {text-align:center !important;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text.right  h4 {text-align:center !important;}
.image_more_info {
    border-radius: 40px 40px 40px 40px;
    box-shadow: 5px 5px 5px #888888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}
.image_more_info a {
    position: relative;
}
.image_more_info img {
    background: none repeat scroll 0 0 #1ab99b;
    border-radius: 40px 40px 40px 40px;
    display: block;
    padding: 0px;
    width: 0px;
    overflow: hidden;
  border: 0;
  box-shadow: none !important;
}
.circle_item_border {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  position: absolute;
  width:100%;
  height:100%;
  top: -1px;
  left: -1px;
  border:5px solid #000000;
  border-radius: 40px 40px 40px 40px;
  z-index:5;
}
/* Additional Content in Slider */
.content_slider_text_block_wrap {width:100%; text-align:center; font-size: 16px; color:#444444; margin:0 auto; display:block; }
.content_slider_text_block_wrap .bold {font-weight:600;}
.content_slider_text_block_wrap .separator {width:100%; height: 1px; background: #444444; margin-top:5px;}
.content_slider_text_block_wrap a.large_link {font-size:18px;}
.content_slider_text_block_wrap a {color:#1ab99b; line-height:18px; font-size: 16px; text-decoration: none;}
.content_slider_text_block_wrap h3 {font-size: 30px !important; line-height: 30px !important; margin: 0 !important; padding: 0 !important; display: inline-block !important; font-weight: 600 !important;}
.content_slider_text_block_wrap a.button_regular {color:#fff; display: inline-block; background:#1ab99b; padding:13px 26px 15px 25px; font-size: 15px; line-height: 16px; height: 16px; font-weight:600; border-radius: 3px;}
.content_slider_text_block_wrap a.button_socials {width:39px; height:39px; padding:5px; display: inline-block; margin:0 5px; border-radius: 3px;}
.content_slider_text_block_wrap a.button_socials_flat {width:48px; height:48px; padding:0px; display: inline-block; margin:0 5px 0 6px;}
.content_slider_text_block_wrap .col-1-4_block {width:182px; margin:10px 20px; display: inline-block; vertical-align: top !important;}
.content_slider_text_block_wrap h4 {display: inline-block; margin:10px 0 20px 0; font-weight: 400; font-size: 16px !important;}
.content_slider_text_block_wrap .col-1-3_block {width:240px; margin:10px 20px; display: inline-block; vertical-align: top !important;}
.content_slider_text_block_wrap .col-1-3_block img {box-shadow: none !important;}
.content_slider_text_block_wrap .content_img_wrap {position: relative;}
.content_slider_text_block_wrap .content_img_wrap img {display: block; box-shadow: none !important;}
.content_slider_text_block_wrap .content_img_wrap .hover_link img {width:100%;height:100%;} 
.content_slider_text_block_wrap .content_img_wrap .hover_link {display: none; width: 0px; height: 0px; position: absolute; top: 50%; left: 50%; margin-top:0px; margin-left:0px; z-index:2; opacity:0; filter:alpha(opacity = 0);}
.content_slider_wrapper div.all_around_text_up {
  position: absolute;  
  margin: 0;
  padding: 0;
}
.content_slider_wrapper div.all_around_text_down {
  position: absolute;
  margin: 0;
  padding: 0;
}
.content_slider_wrapper span.all_around_text_span_up {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.content_slider_wrapper span.all_around_text_span_down {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
}
.content_slider_wrapper_vertical div.all_around_text_up {
  position: absolute;
  margin: 0;
  padding: 0;
}
.content_slider_wrapper_vertical div.all_around_text_down {
  position: absolute;
  margin: 0;
  padding: 0;
}
.content_slider_wrapper_vertical span.all_around_text_span_up {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
}
.content_slider_wrapper_vertical span.all_around_text_span_down {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
}
/* Extra part */
.content_slider_text_block_wrap  .team-inner {
    height: 570px;
  margin: 0px auto;
  display:block;
  text-align:center;
    width: 300px;
}
.content_slider_text_block_wrap .team-inner .team-top{
  height:200px;
  width:300px;
  margin-left:-10px;
  color:#FFFFFF;
  visibility:visible;
  margin-top:20px;
}
.content_slider_text_block_wrap .team-inner .team-top h4{
  text-transform:none;
  font-weight:400;
  margin:10px 0px;
}
.content_slider_text_block_wrap .team-inner .team-top span{
  font-weight:400;
  text-align:center;
}
.content_slider_text_block_wrap .team-inner .team-top .fa {
    border-radius: 50%;
    height: 33px;
    line-height: 36px;
    margin-top: -10px;
    text-align: center;
    visibility: visible;
    width: 33px;
}
.content_slider_text_block_wrap .team-inner .team-top .fa-facebook{
  background:#003366;
  color:#FFFFFF;
}
.content_slider_text_block_wrap .fa-twitter{
  background:#00CCFF;
  color:#FFFFFF;
}
.content_slider_text_block_wrap .fa-google-plus{
  background:#FF3300;
  color:#FFFFFF;
}
.content_slider_text_block_wrap .team-inner .team-top > a {
    position: relative; /*new attribute*/
    top: -10px; /*new attribute*/
}
.content_slider_text_block_wrap .team-inner .team-bottom{
  visibility:visible;
  height:295px;
  background:#f5f5f5;
  width:300px;
  margin-left:-10px;
}
.content_slider_text_block_wrap .team-inner .team-bottom p{
  visibility:visible;
  padding:160px 15px 20px 15px;
  color:#6d6d6d;
  font-size:15px;
}
.myClass {
    border-radius: 5px !important;
}  
.myClass img {
    border-radius: 5px !important;
}
.circle_slider {
    height: 421px !important;
    overflow: visible !important;
  background:url("../images/bottom.png") no-repeat scroll 240px 417px rgba(0, 0, 0, 0);
}
.circle_slider_nav_left, .circle_slider_nav_right{top:380px !important;}
.circle_slider_no_border > img { left: 0 !important;}
#slider1{ height:595px !important;}
/* ------------- Testimonials Section ------------- */
.testimonials {
  background:url(../images/parallax/parallax3.png);
  background-attachment:fixed;
  opacity:1;
  overflow:hidden;
 }
.testimonials .top-bottom-section {
    padding-top: 5.5em;
    padding-bottom: 5.5em;
}
.testimonials .carousel-indicators {
    bottom: -35px;
    left: 420px;
}
.testimonials .carousel-indicators .active {
  background:none;
  height: 10px;
  margin: 0;
  width: 10px;
}
.testimonials .carousel-indicators li {
    background-color:#FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    width: 8px;
}
.testimonials .classic-info p {
  width:90%;
  text-align: left;
  margin: -27px 100px;
  padding: 10px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size:30px;
  font-weight:300;
  line-height:35px;
}
.testimonials .classic-info:before {
   color: #FFFFFF;
    content: "\f10d";
    font-family: "fontawesome";
    font-size: 60px;
    font-weight: 300;
    left: -52px;
    opacity: 0.5;
    position: relative;
    top: 0px;
 }
.testimonials .classic-info:after {
    color: #FFFFFF;
    content: "\f10e";
    font-family: "fontawesome";
    font-size: 60px;
    font-weight: 300;
    left: 590px;
    opacity: 0.5;
    position: relative;
    top: 0;
}
.testimonials .classic-author{
  margin:-20px 0px 0px;
  color:#FFFFFF;
  font-size:29px;
  font-weight:300;
  text-align:left;
}
.testimonials .classic-grid-img img {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 20px 50px;
  max-height: auto;
  position: relative;
  width:260px;
  height:260px;
}
.testimonials .grid .classic-grid-img {
  display: inline-block;
  float: left;
  margin: 0;
  height:300px;
  width: 400px;
  text-align: center;
}
.testimonials .classic-grid-img .classic-rounded {
    display: inline-block;
    height: 260px;
    width: 260;
}
.testimonials .classic-info .classic-author {
  padding:30px 0px;
  color:#FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}
/* ------------- Recent Blog Section ------------- */
.recent-blog .top-bottom-section {
    padding: 6.9em 0 7.4em;
}
.recent-blog h3{
  margin:20px 10px 10px;
  font-weight:300;
  font-size:24px;
  color:#000;
  text-align:left;
  text-transform:none;
}
.recent-blog .caption p{
  font-size:14px;
  padding:5px 12px;
}
.blog-inner-box{
  margin-top:38px;
}
.recent-blog .blog-time{
  width:70px;
  height:70px;
  position: absolute;
    right: 0;
  left:15px;
    top: 0px;
  color:#FFFFFF;
}
.recent-blog .blog-time span, .recent-blog .blog-time p{
  color:#FFFFFF;
  font-size:20px;
  font-weight:600;
  text-align:center;
}
.recent-blog .thumbnail {
  padding:0px;
  border:none;
}
.recent-blog .btn{
  display:block;
  margin:19px auto 15px;
  padding:9px 15px;  
  background:#FFFFFF;
  border:1px solid #000;
  border-radius:5px;
  width:120px;
  font-size:12px;
  text-align:center;
  text-transform:uppercase;  
}
.recent-blog .btn:hover{
  color:#FFFFFF;
  border-color:#FFFFFF;
}
/* ------------- Contact Us Section ------------- */
.contact-group{
  position:relative;
}
.contact-us{
  position: absolute;
    right: 0;
  left:0;
    top: 0;
  margin-top:300px;
  background: rgba(0, 0, 0, 0.85);
  color:#FFFFFF;
}
.contact-us .top-bottom-section {
    padding: 3em 0 3.6em;
}
.contact-us h3{
  text-transform:uppercase;
  font-size:30px;
  text-align:left;
  font-weight:400;
}
.contact-us p{
  font-size:15px;
}  
.contact-us p, .contact-us a{
  color:#FFFFFF;
}
form{
  margin:0 10px;
}
.contact-us .social{
  color:#9d9d9d;
  display:block;
  clear:both;
  width:100%;
}  
.contact-us .social .fa{
  color:#FFFFFF;
  float:left;
}  
.contact-us .social:hover{
  color:#FFFFFF;
}  
hr.address-break {
  margin:35px 0px;
  background-color:rgba(255,255,255,.2);
  border-style:none;
  height:1px;
  width: 100%;
}
.title-hr{
  width:130px;
  height: 3px;
  border-color:none;
  border-style:none;
}  
.contact-us .address-info{
  padding-top:60px;
  padding-bottom:60px;
  padding-right:65px;
}
.contact-us .address-info p{
  text-align:left;
  padding-top:15px;
}
.contact-us .address-info .fa{
  width:17%;
  padding:0px 0px;
  color:fff;
  font-size:30px;
}
.contact-us .address-info h4{
  text-align: left;
}
.contact-us .form-section{
  padding-top:80px;
  padding-bottom:80px;
}
.contact-us .form-control {
  height:62px;
  margin-top:15px;
  padding:20px 25px;
  border:none;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.7);
  color:#FFFFFF;
}
.map-top{
  height:1080px;
  overflow:hidden; 
  text-align:center;
  margin:0 auto; 
  border:0px solid rgba(231,231,231, .5);
}
.submit{
  margin-top:15px;
}
.contact-us .email:focus {
  background: rgba(240, 103, 57, 1);
}
.contact-us .form-control::-moz-placeholderm
.contact-us textarea.form-control {
    color: #FFFFFF;
    opacity: 1;
}
.contact-us textarea.form-control {
    height: 153px;
    margin-bottom: 20px;
}
.contact-us .btn {
    float: left;
    width: 200px;
    height: 62px;
    border-radius: 0px;
    margin: 0px 0px;
  background-color:#f06739;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.vivid-contact-form .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.vivid-contact-form .has-feedback .form-control-feedback {
  height: auto;
  line-height: 92px;
}
.vivid-contact-form .help-block {
  margin: 0;
}
/* ------------- Copyright Section ------------- */
.copyright{
    background: #000;
  border-top:2px solid;
  position:relative;
}
.copyright p{
  margin:0 auto;
  padding:43px 0px;
  color:#333333;
}