/* ================================= Color Scheme - Orange ================================= */
/* Background Colors */
#slides .shape:after{background-color:#f06739;}
.slides-navigation a{background-color:#f06739;}
hr, .icon-bar{background-color:#f06739;}
.shape:hover:after{background-color:#f06739;}
.btn:hover, .btn:focus{background-color:#f06739;}
.about-box:hover .shape:after, .about-box:hover .btn{background-color:#f06739;}
.video-icon img{background-color:#f06739;}
#filters a.click, #filters a:hover{background-color:#f06739;}
.view-tenth .mask{background-color:rgba(241,104,58,0.7);}
.client{background-color:#f06739;}
.what-we-do .box:hover, .what-we-do .box:hover p{background-color:#f06739;}
.testimonials{background-color:#f06739;}
.content_slider_text_block_wrap .team-inner .team-top{background-color:#f06739;}
.parallax2 .btn1, .parallax3 .btn{background-color:#f06739;}
.recent-blog .blog-time{background-color:#f06739;}
.contact-us .btn{background-color:#f06739;}
.contact-us .email:focus{background-color:#f06739;}

/* Color */
.social-icon a:hover{color:#f06739;}
.lorem{color:#f06739;}
#filters a.click:before, #filters a:hover:before{color:#f06739;}
.what-we-do .fa{color:#f06739;}
.contact-us .social .fa:hover{color:#f06739;}
.contact-us .social:hover i{color:#f06739;}

/* Border Colors */
#topnav .nav li:hover a, #topnav .nav li.active a, .btn-border:hover, .navbar-toggle{border-color:#f06739;}