/* ================================= Color Scheme - Yellow ================================= */
/* Background Colors */
#slides .shape:after{
	background-color:#f1dd00;
}
.slides-navigation a{
	background-color:#f1dd00;
}
hr, .icon-bar{
	background-color:#f1dd00;
}
.shape:hover:after{
	background-color:#f1dd00;	
}
.btn:hover, .btn:focus{
	background-color:#f1dd00;
}
.about-box:hover .shape:after, .about-box:hover .btn{
	background-color:#f1dd00;
}
.video-icon img{
	background-color:#f1dd00;
}
#filters a.click, #filters a:hover {
	background-color:#f1dd00;
}
.view-tenth .mask {
	background-color: rgba(241, 221, 0, 0.7);
}
.client{
	background-color:#f1dd00;
}
.what-we-do .box:hover, .what-we-do .box:hover p  {
	background-color:#f1dd00;
}
.testimonials{
	background-color:#f1dd00;
}
.content_slider_text_block_wrap .team-inner .team-top{
	background-color:#f1dd00;
}
.parallax2 .btn1, .parallax3 .btn{
	background-color:#f1dd00;
}
.recent-blog .blog-time {
	background-color:#f1dd00;
}
.contact-us .btn{
	background-color:#f1dd00;
}
.contact-us .email:focus{
	background-color:#f1dd00;
}
/* Color */
.social-icon a:hover{
	color:#f1dd00;
}
.lorem{
	color:#f1dd00;
}
#filters a.click:before, #filters a:hover:before{
	color:#f1dd00;
}
.what-we-do .fa{
	color:#f1dd00;
}
.contact-us .social .fa:hover{
	color:#f1dd00;
}
.contact-us .social:hover i{
	color:#f06739;
}
/* Border Colors */
#topnav .nav li:hover a, #topnav .nav li.active a, .btn-border:hover, .navbar-toggle{
	border-color:#f1dd00;
}